/* ?-Address link responsive  */

@media screen and (max-width: 427px) {
  .address-link[href*="tel"] {
    font-size: 30px;
  }
}

@media screen and (max-width: 368px) {
  .address-link[href*="tel"] {
    font-size: 24px;
  }
}

@media screen and (max-width: 319px) {

  .nav-logo,
  .address-link[href*="tel"] {
    font-size: 20px;
  }
}

@media screen and (max-width: 280px) {

  .nav-logo,
  .address-link[href*="tel"] {
    font-size: 16px;
  }
}


/* !-Styles for Mobile  */

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    max-width: none;
  }
}

/* !-Styles for Tablet  */

@media screen and (min-width: 768px) {

  /* todo: Hover effect for Nav */
  @keyframes enphasisDropDown {
    0% {
      opacity: 0;
      transform: translateY(-24px) scale(0);
    }

    33% {
      opacity: 0.33;
      transform: translateY(-16px) scale(.25);
    }

    66% {
      opacity: 0.66;
      transform: translateY(-8px) scale(.75);
    }

    100% {
      transform: translateY(0) scale(1);
    }
  }


  /* HEADER: STUDIO Page */

  .container {
    width: 768px;
  }

  .header-container {
    min-height: 72px;
  }

  .nav {
    position: static;
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-header {
    display: flex;
    min-height: 72px;
    align-items: center;
  }

  .nav-logo {
    padding: 24px 0;
  }

  .nav-menu-container {
    position: static;
    z-index: auto;
    width: auto;
    height: auto;
    padding: 0;
    overflow: auto;
    background-color: inherit;
    transform: none;
    box-shadow: none;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-wrap {
    height: auto;
    margin: auto;
    flex-direction: row;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .nav-item {
    margin-bottom: auto;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--c-links);
    text-transform: capitalize;
    transition: color 250ms var(--t-cubic-bezier);
  }

  .nav-link::after {
    position: absolute;
    bottom: 0;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--c-links-hov);
    border-radius: 2px;
    content: "";
    opacity: 0;
  }

  .nav-link.current::after {
    opacity: 1;
    animation: enphasisDropDown 250ms ease-in-out;
  }

  .nav-link.current:hover::after,
  .nav-link.current:focus::after {
    opacity: 1;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: var(--c-links-hov);
  }

  .nav-footer {
    display: flex;
    max-width: none;
    margin-left: 122px;
    align-items: center;
  }

  .address {
    margin-bottom: 0;
    margin-left: initial;
  }

  .address-list {
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    color: var(--c-body-text);
    transition: color 250ms var(--t-cubic-bezier);
  }

  .address-link.link {
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }

  .address-link[title="Email"]:hover,
  .address-link[title="Email"]:focus {
    color: var(--c-links-hov);
  }

  .address-link[href*="tel"] {
    color: var(--c-body-text);
  }

  .nav-soc-list {
    display: none;
  }

  .nav-close-btn,
  .nav-open-btn {
    display: none;
  }

  /* MAIN: STUDIO Page */

  /* SECTION: Hero */

  .hero {
    padding: 112px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/studio/img@1x/hero-tablet@1x.jpg);
  }

  /* Hero bg image */
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/studio/img@2x/hero-tablet@2x.jpg);

    }
  }

  .hero-title {
    max-width: 100%;
    margin: 0 auto 36px auto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }

  /* SECTION: Features */

  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-item-title {
    letter-spacing: 0.72px;
    text-align: left;
  }

  .features-list li:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }

  /* SECTION Team */


  .team-container {
    padding: 0 108px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  .team-list li:last-child {
    margin-bottom: auto;
  }

  .team-item:not(:nth-last-of-type(-n+2)) {
    margin-bottom: 64px;
  }


  /* SECTION: Customers */

  .customers-container {
    padding: 0 108px;
  }

  .customers-title {
    letter-spacing: 0.72px;
  }

  .customers-item-wrap {
    display: block;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }

  .customers-item:not(:nth-last-of-type(-n+2)) {
    margin-bottom: 0;
  }

  .customers-item:not(:nth-last-of-type(-n+3)) {
    margin-bottom: 48px;
  }

  /* FOOTER: STUDIO Page */

  .footer-form-container {
    padding: 0;
    margin-top: 48px;
  }

  .footer-container {
    display: flex;
    padding: 96px 108px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 24px;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .footer-slogan-logo,
  .footer-socials-text,
  .footer-form-text {
    text-align: left;
  }

  .footer-slogan,
  .footer-socials {
    margin-bottom: 0;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }

  .footer-form-input {
    min-width: 264px;
    margin-bottom: 0;
  }

  .footer-form-btn {
    margin: 0;
  }

  /* MAIN: PORTFOLIO Page  */

  /* SECTION Projects */

  .projects {
    padding: 64px 0;
  }

  .projects-btn-list {
    display: flex;
    margin-right: 0;
    margin-bottom: 72px;
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: normal;
    column-gap: 24px;
    justify-content: center;
  }

  .projects-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: normal;
  }

  .projects-list-item {
    width: calc((100% - 48px)/2);
  }

  .projects-list-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .projects-list-item:last-child {
    margin: 0;
  }

  .projects-btn {
    padding: 12px 24px;
  }


  /* MODAL box  */

  .modal-box {
    width: calc(100% - 360px);
  }

}

/* !-Styles for Desktop  */

@media screen and (min-width: 1158px) {
  .container {
    display: flex;
    width: 1158px;
    padding: 0 15px;
    justify-content: center;
  }

  /* HEADER: STUDIO Page */

  .nav {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .nav-header {
    margin-right: 76px;
    flex-basis: auto;
  }

  .nav-menu-container {
    flex-grow: 2;
    justify-content: space-between;
  }

  .nav-wrap {
    width: 100%;
  }

  .nav-link {
    letter-spacing: 0.02em;
  }

  .nav-footer {
    margin: 0;
  }

  .address-list {
    font-style: normal;
    flex-direction: row;
    gap: 40px;
  }

  .address-link.link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }


  /* MAIN: STUDIO Page  */

  /* SECTION: Hero */


  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/studio/img@1x/hero-desktop@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/studio/img@2x/hero-desktop@2x.jpg);
    }
  }

  .hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  /* SECTION: Features */

  .features-list {
    display: flex;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-item-img {
    display: flex;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--c-features-item-img-bg);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }

  .features-item-icon {
    width: auto;
    height: auto;
  }

  .features-item-title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .features-item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* SECTION: About */

  .about {
    display: block;
    padding-top: 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  /* todo: refact
  ! [.team-title has got the same properies] */
  .about-item {
    border: 1px solid var(--c-about-item-border);
  }

  .about-title,
  .team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--c-headings);
    text-align: center;
    text-transform: capitalize;
  }

  .about-list {
    display: flex;
    gap: 24px;
  }

  /* SECTION Team */

  .team {
    background-color: var(--c-team-bg);
  }

  .team-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
    margin-bottom: auto;
  }

  .team-item:not(:nth-last-of-type(-n+2)) {
    margin-bottom: auto;
  }

  .team-list li:last-child {
    margin-bottom: auto;
  }

  .team-item-title {
    margin-bottom: 8px;
    color: var(--c-headings);
  }

  /* SECTION Customers */

  .customers-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  .customers-link {
    padding: 16px 32px;
  }

  .customers-item:not(:nth-last-of-type(-n+3)) {
    margin-bottom: auto;
  }

  /* FOOTER: STUDIO Page */

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: baseline;
  }

  .footer-slogan {
    margin-right: 40px;
  }

  .footer-slogan-text {
    display: inline-block;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
  }

  .footer-socials-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .footer-socials-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .footer-socials-item {
    width: 40px;
    height: 40px;
  }

  /* FORM Footer */

  .footer-form-container {
    margin-top: 0;
  }

  .footer-form-text {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-main-titles);
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--c-footer-form-input);
    background-color: transparent;
    border: 1px solid var(--c-footer-form-border);
    border-radius: 4px;
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

}